<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Zoning Map</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/">Home</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<!--<div class="nav">-->

    <!--<div class="nav-logo">-->
        <!--&lt;!&ndash;<div><a ng-click="goto('/')"><img src="images/zm-transparent-128.png" class="img-responsive"></img></a></div>&ndash;&gt;-->
        <!--<div><a ng-click="goto('/')">Zoning Map</a></div>-->
    <!--</div>-->

    <!--<div class="nav-section">-->
        <!--<div class="nav-link" ng-class="{map: 'selected'}[activePage]" ng-click="goto('/')">-->
        <!--Map-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="nav-section">-->
        <!--<div class="nav-link" ng-class="{about: 'selected'}[activePage]" ng-click="goto('/about')">-->
        <!--About-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
